# Puerto del Servidor Node.js
PORT=3001

# Base de Datos en la Nube (MongoDB Atlas - Opcional pero recomendado para producción 24/7)
# Si se deja vacío, la app usa automáticamente los archivos locales en ./data
MONGODB_URI=mongodb+srv://usuario:password@cluster0.mongodb.net/godmarket?retryWrites=true&w=majority

# Google Identity Services (Google OAuth 2.0 Client ID para Vendedores)
# Obtenido desde Google Cloud Console (APIs & Services > Credentials > OAuth 2.0 Client IDs)
GOOGLE_CLIENT_ID=tu_google_client_id_aqui.apps.googleusercontent.com

# Credenciales de Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui

# Secreto Criptográfico para Tokens JWT de Vendedores (Genera una clave aleatoria larga)
JWT_SECRET=tu_clave_secreta_jwt_muy_segura_aqui_para_produccion
