# Puerto del Servidor Node.js
PORT=3000

# Base de Datos MySQL / MariaDB (Hostinger)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

# Google Identity Services (Google OAuth 2.0 Client ID)
GOOGLE_CLIENT_ID=

# Credenciales de Cloudinary (Subida de fotos)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Secreto Criptográfico para Tokens JWT de Vendedores
JWT_SECRET=
